content-width = 65%

*
	margin 0
	padding 0
	box-sizing border-box
	
body
	header
		width 100%
		height 80px
		.header-bg
			width 100%
			height 69px
			background-color #76c7c0
			.content-wrapper
				width content-width
				min-width 243px
				margin 0 auto
				.logo
					font-family OpenSans
					color #ffffff
					display inline-block
					vertical-align middle
					line-height 79px
					cursor pointer
					div
						display inline-block
						vertical-align middle
					.modus
						font-family OpenSans-Extrabold
						font-size 30px
						text-transform uppercase
					.versus
						font-size 25px
				.nav-wrapper
					float right
					height 80px
					.hidden-menu
						display none
						position absolute
						top 26px
						right 0px
						font-family OpenSans-Semibold
						font-size 13px
						text-transform uppercase
						color #ffffff
						padding 5px 10px 5px 10px
						border-radius 5px
						background-color #62a29e
						-webkit-box-shadow 0px 3px 0px 0px rgba(82, 139, 134, 1)
						-moz-box-shadow    0px 3px 0px 0px rgba(82, 139, 134, 1)
						box-shadow         0px 3px 0px 0px rgba(82, 139, 134, 1)
						&:hover
							background-color #e8645a
							-webkit-box-shadow 0px 3px 0px 0px rgba(226, 83, 75, 1)
							-moz-box-shadow    0px 3px 0px 0px rgba(226, 83, 75, 1)
							box-shadow         0px 3px 0px 0px rgba(226, 83, 75, 1)
							cursor pointer
					.nav
						float right
						font-family OpenSans-Semibold
						font-size 13px
						margin-top 27px
						ul
						li
						span
						a
							position relative
						a
							text-decoration none
							color #ffffff
						.has-sub
							z-index 10
							.rotate
								display inline-block
								margin-right 5px
								/* Safari */
								-webkit-transform rotate(90deg)
								/* Firefox */
								-moz-transform rotate(90deg)
								/* IE */
								-ms-transform rotate(90deg)
								/* Opera */
								-o-transform rotate(90deg)
								/* Internet Explorer */
								// filter progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
							&:hover > ul
								display block
							ul
								display none
								position absolute
								width 227px
								top 100%
								left 0px
								background-color #e2534b
								padding-top 5px
								border-radius 5px
								margin-top 15px
								li
									background-color #e8645a
									left 7px
									margin-bottom 5px
									&:hover
										background-color #76c7c0
								&:before
									content " "
									position absolute
									top -6px
									left 14px
									width 0
									height 0
									border-left 7px solid transparent
									border-right 7px solid transparent
									border-bottom 7px solid #e2534b
							&:after
								content " "
								position absolute
								bottom -20px
								left 0
								width 100%
								height 21px
								background transparent
						ul > li
							position relative
							display inline-block
							float left
							list-style none
							text-transform uppercase
							color #ffffff
							padding 5px 10px 5px 10px
							border-radius 5px
							&:hover
								background-color #e8645a
								cursor pointer
						> ul > li
							position relative
							display inline-block
							float left
							list-style none
							text-transform uppercase
							color #ffffff
							margin-left 15px
							padding 5px 10px 5px 10px
							border-radius 5px
							&:hover
								background-color #e8645a
								-webkit-box-shadow 0px 3px 0px 0px rgba(226, 83, 75, 1)
								-moz-box-shadow    0px 3px 0px 0px rgba(226, 83, 75, 1)
								box-shadow         0px 3px 0px 0px rgba(226, 83, 75, 1)
								cursor pointer
						.home
							background-color #62a29e
							-webkit-box-shadow 0px 3px 0px 0px rgba(82, 139, 134, 1)
							-moz-box-shadow    0px 3px 0px 0px rgba(82, 139, 134, 1)
							box-shadow         0px 3px 0px 0px rgba(82, 139, 134, 1)
						.search
							width 20px
							height 18px
		.header-ruller
			width 100%
			height 13px
			background url('../images/ruler-bg.jpg') center repeat-x